<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>user profile</title>

    <style>
        .profile {
            align-items: center;
            text-align: center;
            width: 20rem;
            height: auto;
            background-color: rgb(161, 205, 190);
            border-radius: 30px;
            padding: 10px;
            position: absolute;
            right: 20px;
            top: 20px;
        }

        nav {
            display: flex;
            position: relative;
            top: 50px;
            left: 50px;
            justify-content: space-between;
            margin-bottom: 60px;
            padding-bottom: 10px;
            text-transform: uppercase;
        }

        a {

            color: gray;
        }

        nav ul {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
        }

        nav li {
            list-style-type: none;
            margin-left: 20px;
        }

        nav a:hover {
            color: red;
            padding-bottom: 6px;
            font-size: 20px;
            transition: all .5s ease-in-out;

        }

        .task {
            border-left: 3px solid red;
            padding: 10px;
            transition: all .5s ease-out;
        }

        .task:hover {
            color: red;
            transition: all .5s ease-in;
        }
    </style>

</head>

<body>

    <nav>

        <ul>
            <li><a href="/">home</a></li>
            <li><a href="/task/create">createTask</a></li>
            <li><a href="/logout">log out</a></li>
        </ul>
    </nav>

    <div class="profile">
        <h1>user profile</h1>
        <P>name : <%= user.name %>
        </P>
        <P>family : <%= user.family %>
        </P>
        <P>level : <%= user.level %>
        </P>
        <P>email : <%= user.email %>
        </P>

    </div>



    <% if (tasks && tasks.length> 0) { %>
        <% tasks.forEach(function(task) { %>
            <div class="task">
                <h1>title : <%= task.title %>
                </h1>
                <p>description : <%= task.description %>
                </p>

                <p>status : <%= task.status %>
                </p>


                <button popovertarget="popup_<%= task._id %>">change : <%= task._id %></button>

                <div popover id="popup_<%= task._id %>">
                    <form action="/task/<%= task._id %>" method="post">
                        <label>
                            change status : <%= task._id %> <br>
                                <%= task.title %>
                                    <select name="status">
                                        <option value="in-progress"> in-progress </option>
                                        <option value="progress">progress</option>
                                        <option value="completed">completed</option>
                                    </select>
                        </label>

                        <br><br>

                        <div>
                            <button type="submit" popovertarget="popup_<%= task._id %>"
                                popovertargetaction="hide">edit</button>
                            <button type="button" popovertarget="popup_<%= task._id %>"
                                popovertargetaction="hide">cancel</button>
                        </div>
                    </form>

                </div>




                <% if(task.urgent){ %>
                    <p>urgent : <%= task.urgent %>
                    </p>
                    <% } %>
                        <% }); %>
                            <% } else { %>
                                <p>you dont have any task</p>
                                <% } %>
            </div>


<

</body>

</html>